@font-face {
  font-family: "Inter";
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/Inter/Inter-Italic.woff2") format("woff2"),
    url("../fonts/Inter/Inter-Italic.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Inter/Inter-Regular.woff2") format("woff2"),
    url("../fonts/Inter/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Inter/Inter-Medium.woff2") format("woff2"),
    url("../fonts/Inter/Inter-Medium.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Inter/Inter-SemiBold.woff2") format("woff2"),
    url("../fonts/Inter/Inter-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Inter/Inter-Bold.woff2") format("woff2"),
    url("../fonts/Inter/Inter-Bold.woff") format("woff");
}
