.vlt-custom--8131 {
  bottom: -250px;
  left: -200px;
  max-width: 550px;
}

.vlt-custom--1451 {
  top: -25px;
  left: -30px;
  width: 256px;
  height: 208px;
}

@media only screen and (max-width: 575px) {
  .vlt-custom--1451 {
    top: -100px;
    left: -100px;
  }
}

.vlt-custom--1512 {
  bottom: -28vw;
  left: 50vw;
  width: 75vw;
  height: 75vw;
  background-size: cover;
}

.vlt-custom--4124 {
  top: 0;
  right: 0;
  bottom: 0;
  width: 40vw;
  height: 100%;
  background-position: top left;
  background-size: cover;
}

@media only screen and (max-width: 991px) {
  .vlt-custom--4124 {
    right: 0;
    width: 50vw;
  }
}

@media only screen and (max-width: 767px) {
  .vlt-custom--4124 {
    right: -50vw;
    width: 100vw;
  }
}

.vlt-custom--1259 {
  top: -20px;
  right: -5px;
  width: 256px;
  height: 208px;
}

.vlt-custom--2355 {
  bottom: -250px;
  left: 0;
  width: 389px;
  height: 550px;
}

.landingimg {
  background-image: url(main/img/attachment-01.png);
  background-size: 700px;
  /* height: 500px; */
  background-position: center;
}

@media only screen and (max-width: 1600px) {
  .landingimg {
    background-image: url(main/img/attachment-01.png);
    background-size: 80%;
    /* height: 500px; */
    background-position: center;
  }
}

@media only screen and (max-width: 767px) {
  .landingimg {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .landingcontainer .vlt-display-1.has-white-color,
  .landingcontainer .vlt-large-heading.has-white-color,
  .landingcontainer .row .row {
    padding: 15px;
  }
}

.contactslide .vlt-award-item__logo {
  width: 3rem;
  height: 3rem;
}

@media only screen and (max-width: 767px) {
  .skillsslide .vlt-slide-photo__inside {
    width: 80%;
    margin: 0 10%;
  }

  .skillsslide
    .vlt-slide-photo__particle.vlt-fade-in-bottom--small.has-border-radius.has-box-shadow,
  .skillsslide
    .vlt-slide-photo__particle.vlt-fade-in-left--small.has-border-radius.has-box-shadow {
    display: none;
  }

  .skillsslide .vlt-gap-100--md {
    height: 3rem;
  }
}

.vlt-counter-up-small.register {
  background-color: #0c41aa;
  cursor: pointer;
}

.vlt-counter-up-small.register h6 {
  text-transform: capitalize !important;
}

.vlt-counter-up-small.register:hover {
  background-color: #db12c2;
}
