.vlt-custom--8131 {
  bottom: -250px;
  left: -200px;
  max-width: 550px;
}

.vlt-custom--1451 {
  top: -25px;
  left: -30px;
  width: 256px;
  height: 208px;
}

@media only screen and (max-width: 575px) {
  .vlt-custom--1451 {
    top: -100px;
    left: -100px;
  }
}

.vlt-custom--1512 {
  bottom: -28vw;
  left: 50vw;
  width: 75vw;
  height: 75vw;
  background-size: cover;
}

.vlt-custom--4124 {
  top: 0;
  right: 0;
  bottom: 0;
  width: 40vw;
  height: 100%;
  background-position: top left;
  background-size: cover;
}

@media only screen and (max-width: 991px) {
  .vlt-custom--4124 {
    right: 0;
    width: 50vw;
  }
}

@media only screen and (max-width: 767px) {
  .vlt-custom--4124 {
    right: -50vw;
    width: 100vw;
  }
}

.vlt-custom--1259 {
  top: -20px;
  right: -5px;
  width: 256px;
  height: 208px;
}

.vlt-custom--2355 {
  bottom: -250px;
  left: 0;
  width: 389px;
  height: 550px;
}

.landingimg {
  background-image: url(main/img/attachment-01.png);
  background-size: 700px;
  /* height: 500px; */
  background-position: center;
}

@media only screen and (max-width: 1600px) {
  .landingimg {
    background-image: url(main/img/attachment-01.png);
    background-size: 80%;
    /* height: 500px; */
    background-position: center;
  }
}

@media only screen and (max-width: 767px) {
  .landingimg {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .landingcontainer .vlt-display-1.has-white-color,
  .landingcontainer .vlt-large-heading.has-white-color,
  .landingcontainer .row .row {
    padding: 15px;
  }
}

.contactslide .vlt-award-item__logo {
  width: 3rem;
  height: 3rem;
}

@media only screen and (max-width: 767px) {
  .skillsslide .vlt-slide-photo__inside {
    width: 80%;
    margin: 0 10%;
  }

  .skillsslide
    .vlt-slide-photo__particle.vlt-fade-in-bottom--small.has-border-radius.has-box-shadow,
  .skillsslide
    .vlt-slide-photo__particle.vlt-fade-in-left--small.has-border-radius.has-box-shadow {
    display: none;
  }

  .skillsslide .vlt-gap-100--md {
    height: 3rem;
  }
}

.vlt-counter-up-small.register {
  background-color: #0c41aa;
  cursor: pointer;
}

.vlt-counter-up-small.register h6 {
  text-transform: capitalize !important;
}

.vlt-counter-up-small.register:hover {
  background-color: #db12c2;
}
/*Register styling start*/
.wrapper {
  display: flex;
  justify-content: center;
  margin-left: 10px;
}

#cta {
  display: flex;
  padding: 10px 45px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  color: white;
  background: #0c0a52;
  transition: 1s;
  box-shadow: 6px 6px 0 black;
  transform: skewX(-15deg);
}

#cta:focus {
  outline: none;
}

#cta:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 0 #1648fe;
}

#cta span:nth-child(2) {
  transition: 0.5s;
  margin-right: 0px;
}

#cta:hover span:nth-child(2) {
  transition: 0.5s;
  margin-right: 45px;
}

span {
  transform: skewX(15deg);
}

span:nth-child(2) {
  width: 20px;
  margin-left: 30px;
  position: relative;
  top: 12%;
}

/**SVG**/

path.one {
  transition: 0.4s;
  transform: translateX(-60%);
}

path.two {
  transition: 0.5s;
  transform: translateX(-30%);
}

#cta:hover path.three {
  animation: color_anim 1s infinite 0.2s;
}

#cta:hover path.one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

#cta:hover path.two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
  0% {
    fill: white;
  }
  50% {
    fill: #1648fe;
  }
  100% {
    fill: white;
  }
} 
/*Register styling end*/

/* Clock */
.digit {
  position: relative;
  float: left;
  width: 1em;
  height: 2em;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  font-family: Oswald, sans-serif;
  font-size: 2em;
  /* right: 20%; */
  /* top:80%; */
}
.base {
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #333;
}
.flap {
  display: none;
  position: absolute;
  width: 100%;
  height: 50%;
  background-color: #fff;
  left: 0;
  top: 0;
  border-radius: 10px 10px 0 0;
  transform-origin: 50% 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
}
.flap::before {
  content: attr(data-content);
  position: absolute;
  left: 50%;
}
.flap.front::before, .flap.under::before {
  top: 100%;
  transform: translate(-50%, -50%);
}
.flap.back {
  transform: rotateY(180deg);
}
.flap.back::before {
  top: 100%;
  transform: translate(-50%, -50%) rotateZ(180deg);
}
.flap.over {
  z-index: 2;
}
.flap.under {
  z-index: 1;
}
.flap.front {
  -webkit-animation: flip-down-front 300ms ease-in both;
          animation: flip-down-front 300ms ease-in both;
}
.flap.back {
  -webkit-animation: flip-down-back 300ms ease-in both;
          animation: flip-down-back 300ms ease-in both;
}
.flap.under {
  -webkit-animation: fade-under 300ms ease-in both;
          animation: fade-under 300ms ease-in both;
}

@-webkit-keyframes flip-down-front {
  0% {
    transform: rotateX(0deg);
    background-color: #fff;
    color: #333;
  }
  100% {
    transform: rotateX(-180deg);
    background-color: #a6a6a6;
    color: black;
  }
}

@keyframes flip-down-front {
  0% {
    transform: rotateX(0deg);
    background-color: #fff;
    color: #333;
  }
  100% {
    transform: rotateX(-180deg);
    background-color: #a6a6a6;
    color: black;
  }
}
@-webkit-keyframes flip-down-back {
  0% {
    transform: rotateY(180deg) rotateX(0deg);
    background-color: #a6a6a6;
    color: black;
  }
  100% {
    transform: rotateY(180deg) rotateX(180deg);
    background-color: #fff;
    color: #333;
  }
}
@keyframes flip-down-back {
  0% {
    transform: rotateY(180deg) rotateX(0deg);
    background-color: #a6a6a6;
    color: black;
  }
  100% {
    transform: rotateY(180deg) rotateX(180deg);
    background-color: #fff;
    color: #333;
  }
}
@-webkit-keyframes fade-under {
  0% {
    background-color: #a6a6a6;
    color: black;
  }
  100% {
    background-color: #fff;
    color: #333;
  }
}
@keyframes fade-under {
  0% {
    background-color: #a6a6a6;
    color: black;
  }
  100% {
    background-color: #fff;
    color: #333;
  }
}
.clock {
  /* position: absolute; */
  width: 70vw;
  top: 20rem;
  left: 1rem;
  transform: translateY(-50%);
  perspective: 100vw; 
  perspective-origin: 50% 50%;
  margin-top: 50px
}
.clock .digit {
  margin-right: 0.5vw;
}
.clock .digit:nth-child(2n+2) {
  margin-right: 1.5vw;
}
.clock .digit:last-child {
  margin-right: 0;
}
.clear{
  clear: both;
}
.counter-data{
  float:left;
}
.daya{
  margin-left:30px;
}
.haya{
  margin-left:70px;
}
.maya{
  margin-left:69px;
}
.saya{
  margin-left:75px;
}
/* clock :end */